Lib/
Include/
pyvenv.cfg
resource/
upload.log
pypkg/
screenshot/
pkgs/
install/
.upload.log
__pycache__
cache
.vscode
*.bat

*.pptx
release_note_R2A.xlsx
!requirements.txt
#data - confidential

data/csv/
data_backup
data/preset_240417

*.jpg


#txt

backup
pkg

##저장소 삭제
#git rm --cached -r PATH

##강제 추가
#git add -f PATH