Lib/
Include/
pyvenv.cfg
resource/
upload.log
pypkg/
screenshot/
pkgs/
install/
.upload.log
__pycache__
cache
.vscode

#data - confidential
data/*.xlsx
data/*.csv
data/character/*.txt
data/character/item/*.txt
data/character/skill/*.txt
data/csv/
data/etc/
data/preset/
data/items/
data_backup

#txt
*.txt